/* Đã nhúng thành công */

/* Ép kiểu trang web: Style mặc định cho toàn bộ thẻ trong html */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-decoration: none;
    /* không trang trí chữ */
    outline: none;
    border: none;
}

/* Những phần style chung */
.center {
    text-align: center;
}

.padding-32 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.row{
    display: flex;
    flex-direction: row;
}

/* ************************* */


.nav {
    color: white;
    background-color: black;
    padding: 12px 16px;
}

.nav a {
    color: white;
    padding: 12px 16px;
    /*  TRÊN/DƯỚI  TRÁI/PHẢI */
    height: 100%;
}

/* style cho toan bộ the a nào là con hoặc cháu của thẻ có class là "nav" */

.nav a:hover {
    background-color: rgb(228, 220, 211);
    color: black;
}

/* Home */
#home {
    max-width: 980px;
    margin: auto;
}

/* Slides */

/* About */


/* Members */
.third{
    width: 33.33333%;
}

h2{
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0px;
}